<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enjoyor.healthhouse">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/bale"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="1u4hOHqE7GcTFCtfaQpSqiH6cKIS7t5b" />
        <activity
            android:name=".custom.PhotoPickerActivity"
            android:screenOrientation="portrait"></activity>

        <!--欢迎界面-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ImageViewActivity"></activity>
        <!--程序首页-->
        <activity
            android:name=".ui.MainTabActivity"
            android:screenOrientation="portrait"></activity>
        <!--登录界面-->
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"></activity>
        <!--忘记密码页面-->
        <activity
            android:name=".ui.ForgetPasswordActivity"
            android:screenOrientation="portrait"></activity>
        <!--新密码界面-->
        <activity
            android:name=".ui.NewPasswordActivity"
            android:screenOrientation="portrait"></activity>
        <!--新用户注册界面-->
        <activity
            android:name=".ui.RegistActivity"
            android:screenOrientation="portrait"></activity>
        <!--不带刻度尺的入口-->
        <activity
            android:name=".ui.RoundIconActivity"
            android:screenOrientation="portrait"></activity>
        <!--随手记-->
        <activity
            android:name=".ui.NotesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"></activity>
        <!--地图跳转页面-->
        <activity
            android:name=".ui.MapActivity"
            android:screenOrientation="portrait"></activity>
        <!--带刻度尺的入口-->
        <activity
            android:name=".ui.BPInputActivity"
            android:screenOrientation="portrait"></activity>
        <!---->
        <activity
            android:name=".ui.HistoryActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.VoiceActivity"></activity>
        <!--我的消息页面-->
        <activity
            android:name=".ui.InfoActivity"
            android:screenOrientation="portrait"></activity>
        <!--我的资料页面-->
        <activity
            android:name=".ui.DataActivity"
            android:screenOrientation="portrait"></activity>
        <!--我的手机页面-->
        <activity
            android:name=".ui.MyPhoneActivity"
            android:screenOrientation="portrait"></activity>
        <!--个人中心设置页面-->
        <activity
            android:name=".ui.SettingActivity"
            android:screenOrientation="portrait"></activity>
        <!--个人中心意见反馈页面-->
        <activity
            android:name=".ui.SuggestActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.HealthFileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"></activity>
        <!--个人中心资料添加地址页面-->
        <activity
            android:name=".ui.AddrActivity"
            android:screenOrientation="portrait"></activity>
        <!--个人中心我的资料身份证页面-->
        <activity
            android:name=".ui.NumCardActivity"
            android:screenOrientation="portrait"></activity>
        <!--个人中心资料选择性别页面-->
        <activity
            android:name=".ui.SexActivity"
            android:screenOrientation="portrait"></activity>
        <!--个人中心资料修改姓名页面-->
        <activity
            android:name=".ui.NameActivity"
            android:screenOrientation="portrait"></activity>
        <!--个人中心修改密码页面-->
        <activity
            android:name=".ui.ModifyPwdActivity"
            android:screenOrientation="portrait"></activity>
        <!--版本信息页面-->
        <activity
            android:name=".ui.VersionActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.ItemServiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan"></activity>
        <activity
            android:name=".ui.BMIActivity"
            android:screenOrientation="portrait"></activity>
        <!--资讯文章展示页面-->
        <activity
            android:name=".ui.CommunitityCommonActivity"
            android:screenOrientation="portrait"></activity>
        <!--趋势页面-->
        <activity android:name=".ui.TendActivity"></activity>

        <!--我的报告-->
        <activity
            android:name=".ui.MyRecordActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.ImagePagerActivity"
            android:screenOrientation="portrait"></activity>
        <!--我的随随手记-->
        <activity
            android:name=".ui.MyNotesActivity"
            android:screenOrientation="portrait"></activity>
        <!--我的自检-->
        <activity
            android:name=".ui.MySelfCheckActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.RearchActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 支付宝分享回调 -->
        <activity
            android:name=".apshare.ShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".ui.SpaceImageDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/IMTheme.Transparent">

        </activity>
        <!--关于我们界面-->
        <activity android:name=".ui.AboutOursActivity"></activity>
        <!--服务与声明页面-->
        <activity android:name=".ui.AgreeMentActivity"></activity>
        <!--注册自定义广播-->
        <!--<receiver android:name=".receive.MyReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action>-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>
        <activity android:name=".ui.PhysicallocationActivity"></activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
